@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

  body {
    font-family: Poppins;
    background-image: url(./img/paper2.gif);
  }
  


  /*não funcionou mas deixa ai*/
  /*.container{
    width: 1080px;
    height: 400px;
    margin: 0 auto;
}*/
  


/*-------------header----------------------*/
/*Home Page*/

header{ /*isso aqui é um bloco*/
    padding: 10px; /*espaçamento do meu cabeçalho*/
    height: 50px;
    margin: 10px;
}
#logo h1{
    float: left;
}

#logo a {
    font-family: 'Poppins', sans-serif;
    font-size: 14;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
    color: black;
    
    
}

.menustyle {
    color: #000;
    font-family: Poppins;
    font-size: 22.093px;
    font-style: italic;
    font-weight: normal;
    

}
.menustyle ul li{
    float: left;
    padding:20px;
    
}
/*presta atenção aqui que isso tira o ponto da lista, por isso que tem que colocar
ul que vc colocou lá*/
.menustyle ul {
    list-style: none;
    
    
}

.menustyle a {
    text-decoration-line: none;
}
/*esse nth type é tipo economizar tipo o primeiro link que tá
na lista, e o segundo*/
.menustyle li:nth-of-type(1) a:hover {
    background-color: #7cd374;
    width: 150px;
    height: 60px;
}

.menustyle li:nth-of-type(2) a:hover {
    background-color: #74d3d3;
    width: 150px;
    height: 60px;
}

.menustyle li:nth-of-type(3) a:hover {
    background-color: #d3ba74;
    width: 150px;
    height: 60px;
}

  nav ul{
    list-style: none;
    margin: 20px;
    float: right;
}

/*Aqui isso aqui que deixa horizontal*/
nav ul li{
    float: left;
}

/*-----------------fim do header------------------*/


/*---SECTION----*/
section{ /*isso aqui é um bloco*/
    padding: 50px 20px ; /*espaçamento da minha section desliza na horizontal*/
    height: 50px;
    margin: 10px;
}

.texto1 {
    font-size: 38.02px;
    font-style: italic;
    position: absolute;
    font-family: Poppins;
   
}

.texto2 {   
    color: #000;
    font-family: Poppins;
    font-size: 162.789px;
    font-weight: 700;
    font-family: Poppins;
}

.texto3{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: bold;
}

/*----------fim do section------*/ 

/*------------------rodape------------------*/
.footer{
    background-color: #000;
    color: #ffffff;
    text-align: center;
    font-family: Poppins;
    font-size: 22.093px;
    font-style: italic;
    padding: 20px 0 30px 0; 
    clear: both;
    width: 100%;
    bottom: 0;
    position: fixed;
    margin: 0px;
}
/*------------------ FIM DO rodape------------------*/


  
/* -----------quem sou eu------------*/


.quemsou p{
    color: #000;
    font-family: Poppins;
    font-size: 22.093px;
    font-style: italic;
}

/*ajustando a imagem aqui*/
.quemsou {
    float: left;
    width: 50%;
}

.imagem {
    float: right;
    width: 50%;
}




/*formulario*/

.formulario{
    color: #000;
    font-family: Poppins;
    font-size: 22.093px;
    font-style: italic;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
}



/*Interesse*/
.textoInt {
    font-size: 20px;
    position: absolute;
    font-family: Poppins;
   
}
.card {
    width: 328px;
    height: 380px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    display: inline-block; /*isso aqui que coloca os cards na horizontal*/
}
/*aqui é card com imagem*/
.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}



[class*="col-"] {
    float: left;
    padding: 15px;
}

/* Para telefones celulares: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* Para tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* Para desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}